* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.body {
  background-image: url("./assets/background.jpg");
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.body.dark {
  background-image: url("./assets/background-dark.jpg");
}

.options {
  height: 100px;
}

.options div {
  cursor: pointer;
}

div.showLanguages {
  width: 48px;
  height: 48px;
  background-image: url("./assets/translate.png");
}

div.language__container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

div.language {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.sun {
  background-image: url("./assets/sun.png");
}

div.moon {
  background-image: url("./assets/moon.png");
}

div.spanish {
  background-image: url("./assets/spanish.png");
}

div.english {
  background-image: url("./assets/english.png");
}

.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
}

.main.dark {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.8)
  );
}

.options {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.content {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 100%;
  }
}

.message-success,
.message-delete {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid #7acbcd;
  background-color: #229395;
  font-weight: 600;
  color: #fff;
}

.message-delete {
  border: 1px solid #ffacac;
  background-color: #fd5e5e;
}

.new-notes,
.my-notes {
  margin-bottom: 20px;
  text-align: center;
}

.new-notes h2,
.my-notes h2 {
  font-size: 30px;
  color: #fff;
  letter-spacing: 3px;
}

.new-notes input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 16px 0 16px 0;
  transition: 0.4s;
  background-color: #ddd;
  font-weight: 600;
  margin-top: 10px;
  box-shadow: 2px 2px 2px #666;
  font-size: 16px;
  margin-bottom: 10px;
}

.new-notes input:focus {
  border-radius: 0 16px 0 16px;
}

input.dark {
  background-color: #333;
  color: #fff;
}

.new-notes button {
  cursor: pointer;
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  background-color: #7acbcd;
  font-weight: 600;
  font-size: 16px;
}

.my-notes {
  color: #fff;
}

.notes {
  margin-top: 10px;
}

.my-notes li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: #fff;
  color: #222;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 600;
}

.my-notes li.dark {
  color: #fff;
  background-color: #222;
}

.my-notes li:nth-child(even) {
  border-radius: 0 16px 0 16px;
}

.my-notes li:nth-child(odd) {
  border-radius: 16px 0 16px 0;
}

.my-notes div i {
  margin-right: 8px;
}

.my-notes div i:first-child {
  color: #f00;
}

.my-notes div i.dark {
  color: #fd5e5e;
}

li.task-done,
li.task-done.dark {
  text-decoration: line-through;
  background-color: #888;
}

li.task-done.dark {
  background-color: #555;
}
